body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #2563EB;
  color: white;
  text-align: center;
  padding: 20px;
}

.contenedor {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px;
  background: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.pasos {
  padding: 20px;
}
button {
  margin-top: 10px;
  padding: 8px;
  background: #2563EB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1D4ED8;
}
